---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Planetary Playing Cards</h1>

<main class="main">
    <div class= "mod Sun" > <h4>Sun<h4>
        <svg height="240" width="240" xmlns="http://www.w3.org/2000/svg">
        <circle r="160" cx="160" cy="160" fill="#FF7300" stroke="#D56300" stroke-width="3" /></svg>
        <h4>Type G2V<h4>
    </div>
    <div class= "mod Mecury"> <h4>Mecury<h4>
    <span class="dot"></span>
        <svg height="320" width="320" xmlns="http://www.w3.org/2000/svg">
        <circle r="1.5" cx="160" cy="160" fill="#504E51"  stroke-width="3" /></svg>
        <h4>0.4 AU<h4>
    </div>
    <div class= "mod Venus"> <h4>Venus<h4>
        <svg height="320" width="320" xmlns="http://www.w3.org/2000/svg">
        <circle r="3.7" cx="160" cy="160" fill="#F1BE8B"  stroke-width="3" /></svg>
        <h4>0.7 AU<h4>
    </div>
    <div class= "mod Earth"> <h4>Earth<h4>
        <svg height="320" width="320" xmlns="http://www.w3.org/2000/svg">
        <circle r="3.9" cx="160" cy="160" fill="#406735" /></svg>
        <h4>1 AU<h4>
    </div>
    <div class= "mod Mars"> <h4>Mars<h4>
        <svg height="240" width="240" xmlns="http://www.w3.org/2000/svg">
        <circle r="2.1" cx="160" cy="160" fill="#E27858"/></svg>
        <h4>1.5 AU<h4>
    </div>
    <div class= "mod Jupiter"> <h4>Jupiter<h4>
        <svg height="320" width="320" xmlns="http://www.w3.org/2000/svg">
        <circle r="160" cx="160" cy="160" fill="#FC9E44"   /></svg>
        <h4>5.27 AU<h4>
    </div>
    <div class= "mod Saturn"> <h4>Saturn<h4>
        <svg height="320" width="320" xmlns="http://www.w3.org/2000/svg">
        <circle r="36.1" cx="160" cy="160" fill="#EDDBAD" /></svg>
        <h4>9.6 AU<h4>
    </div>
    <div class= "mod Uranus"> <h4>Uranus<h4>
        <svg height="320" width="320" xmlns="http://www.w3.org/2000/svg">
        <circle r="15.7" cx="160" cy="160" fill="#ACE5EE"  stroke-width="3" /></svg>
        <h4>19.2 AU<h4>
    </div>
    <div class= "mod Neptue"> <h4>Neptune</h4>
        <svg height="240" width="240" xmlns="http://www.w3.org/2000/svg">
        <circle r="45" cx="160" cy="160" fill="#2E509D" /></svg>
        <h4>30.0 AU<h4>
    </div>
</main>