---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1 class="logo">Planetary Playing Cards</h1>

<main class="main">
    <div class= "mod Sun" > 
        <h4>Sun<h4>
        <span class="Planet Sun"></span>
        <h4>Type G2V<h4>
    </div>
    <div class= "mod Mercury"> 
        <h4>Mercury<h4>
            <span class="Solar_Planet"></span>
        <h4>0.4 AU</h4>
    </div>
    <div class= "mod Venus"> 
        <h4>Venus<h4>
            <span class="Solar_Planet"></span>
        <h4>0.7 AU</h4>
    </div>
    <div class = "mod Earth"> 
        <h4>Earth<h4>
            <span class="Solar_Planet"></span>
        <h4>1 AU<h4>
    </div>
    <div class= "mod Mars"> 
        <h4>Mars<h4>
        <span class="Solar_Planet"></span>
        <h4>1.5 AU<h4>
    </div>
    <div class= "mod Jupiter"> 
        <h4>Jupiter<h4>
        <span class="Solar_Planet"></span>
        <h4>5.27 AU</h4>
    </div>
    <div class= "mod Saturn"> 
        <h4>Saturn<h4>
        <span class="Solar_Planet"></span>
        <h4>9.6 AU</h4>
    </div>
    <div class= "mod Uranus"> 
        <h4>Uranus<h4>
        <span class="Solar_Planet"></span>
        <h4>19.2 AU<h4>
    </div>
    <div class= "mod Neptune"> 
        <h4>Neptune<h4>
        <span class="Solar_Planet"></span>
        <h4>30.0 AU</h4>
    </div>
</main>