body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 40px;
}

nav {
    margin: 40px auto 0 auto;
    width: 40vw;
    height: 7em;
    border-radius: 50px;
    background: #212431;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    margin: 0;
    align-items: stretch;
}

nav ul li a {
    display: inline-block;
    align-items: baseline;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
    justify-content:space-evenly;
    align-items: stretch;
}

h1 {
    font-size: 5vw;
}

img.about {
    opacity: 0.5;
}

#Panda{
    border-radius: 50%;
    width: 80px;
    height:80px;
}

.Nav_Menu_Word{
    Font-size: 3vw;
}

main{
    align-content: center;
    display: grid;
    grid-template-columns: repeat(5, 16vw);
    gap:2vw;
    border-color: #212431;
    margin-top: 3vw;

}
.mod{
    background-color:#b2b1b1;
    border-radius: 10%;
    height: 30vw;
    padding:auto;
    align-content: center;
}

h1,h4 {
    text-align:center;
    content:center;
}

.Sun span{
    background-color: #FFB700;
    height: 16vw;
    width: 16vw;
    border-radius: 50%;
    display: inline-block;
    
}
.Jupiter span{
    background-color: #fc9E44;
    height: 16vw;
    width: 16vw;
    border-radius: 50%;
    display: inline-block;
}
.Earth span{
    background-color: #14649F;
    height: 1.43vw;
    width: 1.43vw;
    border-radius: 50%;
    display: inline-block;
}

.Mercury span{
    background-color: #504E51;
    height:1.55vw;
    width:1.55vw;
    border-radius: 50%;
    display: inline-block;
}
.Venus span{
    background-color: #F1BE8B;
    height:1.4vw;
    width:1.4vw;
    border-radius: 50%;
    display: inline-block;
}

.Uranus span{
    background-color: #ACE5EE;
    height:1.45vw;
    width:1.45vw;
    border-radius: 50%;
    display: inline-block;
}
.Mars span{
    background-color: #E27B58;
    height:.77vw;
    width:.77vw;
    border-radius: 50%;
    display: inline-block;
}
.Saturn span{
    background-color: #Eddbad;
    height:13vw;
    width:13vw;
    border-radius: 50%;
    display: inline-block;
}
.Uranus span{
    background-color: #ACE5EE;
    height:5.8vw;
    width:5.8vw;
    border-radius: 50%;
    display: inline-block;
}
.Neptune span{
    background-color: #2E5D9D;
    height:5.6vw;
    width:5.6vw;
    border-radius: 50%;
    display: inline-block;
}