body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 40px;
}

nav {
    margin: 40px auto 0 auto;
    width: 40vw;
    height: 7em;
    border-radius: 50px;
    background: #212431;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    margin: 0;
    align-items: stretch;
}

nav ul li a {
    display: inline-block;
    align-items: baseline;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
    justify-content:space-evenly;
    align-items: stretch;
}

h1 {
    font-size: 5vw;
}

img.about {
    opacity: 0.5;
}

#Panda{
    border-radius: 50%;
    width: 80px;
    height:80px;
}

.Nav_Menu_Word{
    Font-size: 3vw;
}

main{
    display: grid;
    grid-template-columns: repeat(5, 16vw);
    grid-auto-rows:(40px);
    gap:2vw;
    border-color: #212431;
    margin-top: 3vw;
}
.mod{
    background-color:#b2b1b1;
    border-radius: 10%;
    height: 40vw;
    grid-template-columns: repeat(5, 16vw);
}
h1,h4 {
    margin:auto;
}
svg.sun{
    justify-content: center;
}

.mod {
    height: 500px;
    width: 500px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }